@{
    ViewData["Title"] = "Home Page";
}
<h1>Register here</h1>

@model wall.Models.User
<h2>Welcome @ViewBag.Name</h2>


<form asp-controller="Home" asp-action="Register" method="POST">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName">First Name:</label>
    <input asp-for="FirstName"/><br>
    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName">Last Name:</label>
    <input asp-for="LastName"/><br>
    <span asp-validation-for="Email"></span>
    <p>@ViewBag.Email</p>
    <label asp-for="Email">Email:</label>
    <input asp-for="Email"/><br>
    <span asp-validation-for="Password"></span>
    <label asp-for="Password">Password:</label>
    <input asp-for="Password"/><br>
    <span asp-validation-for="Confirm"></span>
    <label asp-for="Confirm">Confirm Password:</label>
    <input asp-for="Confirm"/><br>

    <input type="submit" name="submit" value="Register">
    <button><a href="logout">Logout</a></button>

<form action="login" method="GET">
    <button><a href="login">Login</a></button>
</form>
</form>