
<h2>Welcome @ViewBag.Name</h2>

<button><a href="logout">Logout</a></button>

<form action="" method="GET">
    <button><a href="/">Go Home</a></button>
</form>
<form action="login" method="GET">
    <button><a href="login">Login</a></button>
</form>
